furrr=0.3.1
future=1.33.1
future.apply=1.11.1
geoarrow=0.2.1
optimParallel=1.0-2
osmdata=0.2.5
pacman=0.5.1
parallel=4.3.1
parallelly=1.36.0
parsnip=1.2.0
purrr=1.0.2
qap=0.1-2
qs=0.26.3
sessioninfo=1.2.2
sf=1.0-17
sfheaders=0.4.4
tidyverse=2.0.0
units=0.8-2
